
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700&display=swap');
*{
    font-family: 'Spartan', sans-serif;
}



.col-lg-4.mg {
    border: 1px solid #ddd;
    padding: 30px;
    transition: .4s;
    cursor: pointer;
}
.imgg img {
    opacity: 0.4;
    transition: .4s;
}
.col-lg-4.mg:hover{
    background:rgba(246, 249, 252);
   
}
.col-lg-4.mg:hover img{
    opacity: 1;
}
.fon-2{
    font-weight: 600;
    margin: 25px 0;
    position: relative;
}
.fon-2::after{
    content: "";
    position: absolute;
    top: 115%;
    left: 4px;
    width: 50px;
    height: 3px;
    background: blue;
}
.fon-21{
    font-weight: 600;
    margin: 18px 0;
    position: relative;
}
.fon-21::after {
    content: "";
    position: absolute;
    top: 148%;
    left: 47%;
    width: 50px;
    height: 3px;
    background: blue;
}
.buttomm img {
    width: 25%;
    border-radius: 50%;
    position: relative;
    left: -16px;
}
.buttomm {
    background: blue;
    width: 191px;
    position: relative;
    bottom: 0;
    top: -65px;
    right: -197px;
    padding: 4px 20px;
    font-size: 12px;
    display: inline-block;
    border-radius: 28px;
    color: #fff;
    text-decoration: none;
    text-align: right;
}
.card-1 {
    margin-top: -39px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.card-img-top {
    border-radius: 5px;
}
.box{
    padding: 30px 0;
    margin-top: 70px;
}
.box .logo {
    width: 187px;
}
.logo1{
    max-width: 100%;
}
.box ul{
    padding-left: 0px;
}
.box ul li{
    display: inline-block;
}
.box ul li a{
    display: inline-block;
    text-decoration: none;
    padding-right: 15px;
    font-size: 30px;
    text-align: left;
    color: #fff;
    transition: .4s;
}
.box ul li a:hover{
     color: rgba(32, 173, 150);
}
.box p{
    margin-top: 26px;
    color: rgb(170, 176, 181);
    line-height: 1.8em;
    font-size: 17px;
}
.box h1 {
    font-size: 26px;
    border-left: 4px solid blue;
     padding-left: 10px;
}
.box span{
    display: block;
    color: rgb(170, 176, 181);
    margin: 10px 0;
    font-size: 20px;
    display: block;
}
footer{
    background: rgba(8, 24, 40);
    color: #fff;

}
.box.margin-22 {
    margin-left: 24px;
}
.pp{
    font-size: 20px;
    color: #ddd;
    word-spacing: 0.1em;
}
.card {
    border: none !important;
}